.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.lista-filmes{
    margin: 15px;
}

.lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.lista-filmes strong{
    padding-botton:15px;
    font-size: 22px;
}
